* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}
h1 {
    text-transform: capitalize;
}
a {
    text-decoration: none;
}
p {
    line-height: 16px;
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("./img/banner.png")center/cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
.navbar img {
    width: 120px;
    margin-top: 15px;
}
.header-menu {
    flex: 1;
    text-align: right;
}
.list-item {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.list-item a  {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.list-item::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.list-item:hover::after{
    width: 100%;
}
.header-text {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.header-text h1 {
    font-size: 62px;
    padding-bottom: 30px;
}
.header-text p {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 40px;
}
.box-link {
    color: white;
    text-transform: capitalize;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.box-link:hover {
    background: #f44336;
    border: 1px solid #f44336;
    transition: 1s;
}
.navbar .fa {
    display: none;
}
@media(max-width: 700px){
    .header-text h1 {
        font-size: 25px;
    }
    .list-item {
        display: block;
    }
    .header-menu {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .navbar .fa {
        display: block;
        color: #fff;
        margin: 30px 10px 10px 20px;
        font-size: 22px;
        cursor: pointer;
    }
    .header-list {
        padding: 20px;
        margin-top: 40px;
        margin-left: 10px;
    }
}

/* COURSES WE OFFER */

.courses {
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.courses-text h1 {
    font-size: 35px;
    padding-bottom: 30px;
    font-weight: 500;
}
.courses-text p {
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 40px;
}
.courses-cols {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 31%;
    background: #ffeede;
    padding: 10px 20px;
    border-radius: 10px;
}
.course-col h2{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 400;
}
.course-col p{
    font-weight: lighter;
    margin-bottom: 10px;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 1s;
}
@media (max-width: 700px) {
    .courses-cols {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .course-col {
        margin: 10px;
    }
}

/* CAMPUS */

.campus {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
}
.global-image {
    flex-basis: 31%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.global-image img {
    width: 100%;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(226,0,0,0.7);
}
.layer h3 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    transition: all 2s;
}
.layer:hover h3 {
    bottom: 49%;
    z-index: 1;
}
@media (max-width: 700px) {
    .row {
        flex-direction: column;
        margin: 10px;
    }
    .global-image {
        margin: 15px 0;
    }
}

/* FACILITIES */
.facilities {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.facility-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.facility-col {
    flex-basis: 31%;
    overflow: hidden;
}
.facility-col img {
    width: 100%;
    border-radius: 10px;
}
.facility-col h3 {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.facility-col p {
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .facility-row {
        flex-direction: column;
    }
    .facility-col {
        margin: 10px 0;
    }
}

/* WHAT our students say */
.students {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
.opinions {
    display: flex;
    justify-content: space-between;
}
.opinion-item {
    flex-basis: 44%;
    background: #ffeede;
    padding: 25px;
    margin-bottom: 5%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.opinion-item img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.opinion-item-text p {
    font-size: 13px;
    text-align: left;
    font-weight: lighter;
}
.opinion-item-text h2 {
    font-size: 15px;
    text-align: left;
    font-weight: 600;
    padding: 20px 0;
}
.fa {
    color: #f44336;
    float: left;
    margin: 0 4px;
}
@media (max-width: 700px) {
    .opinions {
        flex-direction: column;
    }
}

/* ENROLL SECTION */
.enroll {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("./img/banner2.jpg")center/cover no-repeat fixed;
    border-radius: 10px;
}
.enroll h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 60px;
}
.enroll a {
    text-transform: uppercase;
}
@media (max-width: 700px) {
    .enroll h1 {
        font-size: 25px;
    }
}

/* About us */
.about {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h2 {
    font-size: 17px;
    margin: 30px 0;
}
.about p {
    font-weight: lighter;
    font-size: 14px;
}
.logos {
    margin-top: 30px;
}
.about .fa {
    margin: 0 30px;
}

/* CONTACT PAGE */
.contact {
    min-height: 50vh;
}
.contact-text h1 {
    font-size: 25px;
}

/* CONTACT PAGE. SECTION MAP */
.map {
    width: 80%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
.maps {
    min-height: 60vh;
    margin-bottom: 50px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
}

.left {
    flex-basis: 45%;
}
.left-info {
    margin: 30px 0;
    text-align: left;
}
.left-info .fa {
    color: #f44336;
    float: left;
    font-size: 30px;
    margin-right: 10px;
}
.left-info h2 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.left-info p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 40px;
}
.right {
    flex-basis: 45%;
}
.right-form input, textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px 10px;
    border: 1px solid #e3e3e3;
}
.right-form textarea {
    padding-bottom: 75px;
}
::placeholder {
    font-size: 12px;
    font-weight: lighter;
}
.right-button {
    font-size: 12px;
    font-weight: lighter;
    display: block;
    border: 1px solid #f44336;
    background: none;
    cursor: pointer;
}
@media (max-width: 700px) {
    .contact-info {
        flex-direction: column;
    }
}

































/*  */
